body,
h1,
h2,
h3,
h4,
p,
div {
  font-family: "proxima-nova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 4em;
  line-height: 130%;
}
img {
  max-width: none;
}
.header,
.footer {
  background-color: #acd3ac;
}
.header ul,
.footer ul {
  margin-top: 16px;
  margin-bottom: 20px;
}
.header ul a,
.footer ul a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
.header h3,
.footer h3 {
  font-size: 2em;
  font-family: "lobster";
}
.header h3 a,
.footer h3 a {
  color: black;
  text-decoration: none;
}
.hero {
  height: 300px;
  padding-top: 50px;
  text-align: center;
}
.hero p {
  padding: 40px;
}
.hero .btn {
  font-size: 1.5em;
  padding: 0.5em 2em;
}
.feature {
  height: 330px;
  margin-top: 150px;
  text-align: center;
}
.feature ul {
  margin-top: 20px;
}
.feature li {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1em;
  list-style: none;
}
.feature h2 {
  font-size: 2em;
  text-align: left;
  margin-top: 0;
}
.feature.tracking {
  margin-top: 250px;
}
.feature.ical {
  height: 400px;
}
.feature.ical .image {
  height: 320px;
  background: url(/img/icalendar.png?1);
}
.feature.analytics {
  height: 200px;
}
.feature.analytics h3 {
  text-align: left;
  margin-top: -30px;
  cursor: default;
  position: absolute;
}
.feature.analytics .image {
  margin-top: 30px;
  height: 200px;
  background: url(/img/calendar_overview.png) no-repeat;
}
.feature.analytics .holidays {
  margin-top: 30px;
  height: 200px;
  background: url(/img/staff_holiday.png) no-repeat;
}
.signup .pricing {
  padding-top: 50px;
}
.signup .pricing h2 {
  font-size: 10em;
}
.signup .pricing h2 span {
  font-weight: 300;
}
.signup .pricing p {
  padding-top: 2em;
  font-size: 1.5em;
}
.signup .form {
  text-align: left;
}
.subscribe-footer {
  height: 200px;
  padding-top: 80px;
  text-align: center;
}
.subscribe-footer p {
  padding: 40px;
}
.subscribe-footer .btn {
  font-size: 1.5em;
  padding: 0.5em 2em;
}
.footer {
  background-color: #acd3ac;
}
form.request {
  text-align: left;
}
form.signup .input-append {
  font-size: inherit;
}
form.signup input {
  margin-right: -3px;
  padding: 12px 16px;
  font-size: 18px;
}
form.signup button {
  font-size: 18px;
}
img.typekit-badge {
  display: none !important;
}
